body{
    background-color: #efefef8f;
}
.mybox-shadow{
    box-shadow: 0 1px 3px 0 hsl(0deg 0% 0% / 20%);
}
.font_weight300{
    font-weight: 300;
}
.p10_35{
    padding: 10px 35px;
}

.alert {
    padding: 0.4rem 1rem;
}

.p25{
    padding: 25px;
}

.whiteBackground{
    background-color: #fff;
}

.card {
     border: 1px solid rgb(219 219 219);
}

#messenger-text:focus, .sendButton:focus{
    box-shadow: none;
}

.inputfile {
    position: absolute;
    opacity: 0;
}